
@font-face {
    font-family: 'EditorialNewThin';
    src: url('./fonts/EditorialNew-Thin.otf') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'SuisseIntlMono';
    src: url('./fonts/SuisseIntlMono-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'PPWriterRegularText';
    src: url('./fonts/PPWriter-RegularText.otf') format('opentype');
}

@font-face {
    font-family: 'PPWriterRegularItalic';
    src: url('./fonts/PPWriter-RegularItalic.otf') format('opentype');
}

/* Global settings */
body, html {
    margin: 0;
    padding: 0;
    /* width: 100vw; /* Body width equal to the viewport width */
    height: 80vw; /* Body height equal to 130% of the viewport width */
    overflow-x: auto; /* Allow horizontal scrolling */
    background-color: #000; /* Black background */
    font-family: 'PPWriterRegularText', serif;
}

body {
    font-family: Arial, sans-serif;
    color: white; /* Default text color as white */
}

/* Custom cursor for the whole website */
body, .film-card, .floating-title, .info-box {
    cursor: url('./img/cursor.svg'), auto; /* Fallback to default cursor if image doesn't load */
}

/* Ensure the close button cursor is consistent */
.close-button {
    cursor: url('./img/cursor.svg'), auto;
}

/* Disable text selection and change cursor */
body, .film-card {
    user-select: none;
    cursor: default;
}

/* Film container setup */
.film-container {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: scroll; /* Allow overflow in both directions */
}

.film-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}

/* Close button (X) style */
.close-button {
    position: absolute;
    top: 24px; /* Adjust for top-right corner */
    right: 24px; /* Adjust for top-right corner */
    width: 24px; /* Increase size for easier interaction */
    height: 24px;
    margin-left: 20px;
    border: 1px solid white; 
    transform: rotate(45deg); /* Rotate to form an X shape */
    display: none; /* Hide by default */
    cursor: pointer; /* Pointer cursor */
}

/* Film card styling */
.film-card {
    background-color: rgba(255, 255, 255, 0.1); /* 10% transparent white */
    border: 0.3px solid white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    position: absolute; /* Cards can freely float */
    transition: opacity 0.3s ease-in-out; /* Smooth opacity */
    opacity: 0.4; /* Dim the card by default (40% transparency) */
    color: white;
    filter: blur(5px);
}

/* Hover effect for film cards */
.film-card:hover {
    opacity: 1; /* Full opacity on hover */
}

/* Card titles */
.film-card h2 {
    margin: 0;
    font-size: 2em;
    font-family: 'EditorialNewThin', sans-serif;
    margin-bottom: 15px;
}

.year, .director, .leads {
    font-family: 'SuisseIntlMono', sans-serif;
    font-size:0.7rem;
    margin: 0;
    padding:0;
}

.leads {
    margin-bottom: 20px;
}


/* Description in italic */
.description {
    font-family: 'PPWriterRegularText', serif;
}

/* Bold style for storytelling techniques */
.techniques {
    font-family: 'PPWriterRegularItalic', serif;
    padding-left: 50px;
}

/* the dragging rectangle */
.gradient-rect {
    position: absolute;
    pointer-events: none;
    opacity: 1;
    transition: opacity 5s ease-out, filter 5s ease-out;
    border-radius: 10px;
}

.fade {
    opacity: 0;
    filter: blur(50px);
}

/* Floating title style */
.floating-title {
    font-family: 'EditorialNewThin', sans-serif;
    font-size: 8vw; /* Adjust size as needed */
    color: white;
    position: fixed;
    top: 0; /* Ensure it's in the top area */
    left: 0;
    width: auto;
    white-space: nowrap; /* Prevent text from wrapping */
    filter: blur(0px); /* Add a subtle blur */
    z-index: 10; /* Ensure it's above other elements */
    transition: filter 2s ease-in-out;
    padding: 30px; /* Add padding if needed */
}

.floating-title:hover {
    filter: blur(12px); 
}

/* Info box styling */
.info-box {
    position: fixed; /* Fixed to the top-right corner */
    top: 20px;
    right: 20px;
    width: 300px;
    padding: 15px;
    /* background-color: rgba(0, 0, 0, 0.8); */
    color: white;
    font-family: 'SuisseIntlMono', serif;
    font-size: 0.7em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none; /* Hidden by default */
    z-index: 15; /* Ensure it's above other elements */
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Smooth fade-in/out transition */
}

/* Show the info box when the floating title is hovered */
.floating-title:hover + .info-box {
    display: block;
    opacity: 1; /* Fade in */
}


